main {
  max-width: 42rem;
  padding: var(--spacing-8) var(--spacing-5);
  margin: auto;
}

p,
ul {
  margin-bottom: var(--spacing-4);
}

#company {
  display: inline-block;
  color: var(--color-text);
}

#hr {
  display: block;
  width: 11px;
  height: 22px;
  margin: var(--spacing-4) auto;
  color: var(--color-surface2);
}
