:root {
  /* Colors */
  --color-rosewater: #dc8a78;
  --color-flamingo: #dd7878;
  --color-pink: #ea76cb;
  --color-mauve: #8839ef;
  --color-red: #d20f39;
  --color-maroon: #e64553;
  --color-peach: #fe640b;
  --color-yellow: #df8e1d;
  --color-green: #40a02b;
  --color-teal: #179299;
  --color-sky: #04a5e5;
  --color-sapphire: #209fb5;
  --color-blue: #1e66f5;
  --color-lavender: #7287fd;
  --color-text: #4c4f69;
  --color-subtext0: #6c6f85;
  --color-subtext1: #5c5f77;
  --color-overlay0: #9ca0b0;
  --color-overlay1: #8c8fa1;
  --color-overlay2: #7c7f93;
  --color-surface0: #ccd0da;
  --color-surface1: #bcc0cc;
  --color-surface2: #acb0be;
  --color-base: #eff1f5;
  --color-mantle: #e6e9ef;
  --color-crust: #dce0e8;

  /* Spacing */
  --spacing-0\.5: 2px;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --spacing-6: 24px;
  --spacing-7: 28px;
  --spacing-8: 32px;
  --spacing-9: 40px;
  --spacing-10: 48px;
  --spacing-11: 56px;
  --spacing-12: 64px;

  /* Typography */
  --font-sans: 'Inter', ui-sans-serif, system-ui, -apple-system, blinkmacsystemfont, 'Segoe UI',
    roboto, 'Helvetica Neue', arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  --font-title-1: 700 2.25rem var(--font-sans);
  --font-body-1: 400 1rem var(--font-sans);
  --font-body-2: 400 1.125rem var(--font-sans);

  /* Border Radius */
  --border-radius-1: 4px;
  --border-radius-2: 8px;
  --border-radius-3: 12px;
  --border-radius-4: 16px;
  --border-radius-full: 9999px;

  /* Transition duration */
  --duration-150: 150ms;
  --duration-300: 300ms;

  /* Utility */
  --border-bottom-shadow: inset 0 -1px 0 0;
}

.dark {
  /* Colors */
  --color-rosewater: #f4dbd6;
  --color-flamingo: #f0c6c6;
  --color-pink: #f5bde6;
  --color-mauve: #c6a0f6;
  --color-red: #ed8796;
  --color-maroon: #ee99a0;
  --color-peach: #f5a97f;
  --color-yellow: #eed49f;
  --color-green: #a6da95;
  --color-teal: #8bd5ca;
  --color-sky: #91d7e3;
  --color-sapphire: #7dc4e4;
  --color-blue: #8aadf4;
  --color-lavender: #b7bdf8;
  --color-text: #cad3f5;
  --color-subtext0: #a5adcb;
  --color-subtext1: #b8c0e0;
  --color-overlay0: #6e738d;
  --color-overlay1: #8087a2;
  --color-overlay2: #939ab7;
  --color-surface0: #363a4f;
  --color-surface1: #494d64;
  --color-surface2: #5b6078;
  --color-base: #24273a;
  --color-mantle: #1e2030;
  --color-crust: #181926;
}

/* Set font values on body to maintain the basic principle that 1rem equals 16px */
body {
  font: var(--font-body-1);
  line-height: 1.5;

  @media (40rem <= width) {
    & {
      font: var(--font-body-2);
      line-height: 1.5;
    }
  }
}

h1 {
  margin-bottom: var(--spacing-8);
  font: var(--font-title-1);
}
