/* stylelint-disable no-descending-specificity */
.site-header {
  display: flex;
  justify-content: space-between;
  padding: var(--spacing-5);

  .actions {
    display: flex;
    gap: var(--spacing-2);
  }
}

.home {
  display: flex;
  width: 32px;
  height: 32px;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-1);
  border-radius: var(--border-radius-1);
  background-color: var(--color-text);
  color: var(--color-base);
  text-decoration: none;

  &:focus-visible {
    outline: 2px solid var(--color-text);
    outline-offset: 2px;
  }

  .logo {
    margin-bottom: var(--spacing-0\.5);
  }
}

.site-navigation {
  display: flex;
  gap: var(--spacing-2);
}

.site-navigation .contact-link,
.theme-switch button[type='submit'] {
  display: flex;
  padding: var(--spacing-1);
  border-radius: var(--border-radius-1);

  &:focus-visible {
    outline: 2px solid var(--color-text);
    outline-offset: var(--spacing-0\.5);
  }
}

.site-navigation .contact-link {
  &:is(:hover, :focus-visible)::after {
    opacity: 0;
  }

  &:focus-visible {
    transition: none;
  }
}

.theme-switch button[type='submit'] {
  background-color: transparent;
  color: var(--color-subtext0);
  cursor: pointer;

  &:hover {
    color: var(--color-text);

    @media (prefers-reduced-motion: no-preference) {
      transition: color var(--duration-300) ease-in-out;
    }
  }

  &:focus-visible {
    color: var(--color-text);
  }
}
